#card {
  background-color: bisque;
  border-width: 4px;
  border-style: solid;
  height: 420px;
  width: 320px;
}

.schoolimagewrapper {
  height: 320px;
  width: 320px;
}

#card:hover {
  background-color: aqua;
} 


#card:focus {
  background-color: lightcyan;
  border-color: yellow;
}

.schoolname {
  height: 30px;
  font-size: 25px;
}

.qwe {
  font-size: 13px;
}

