#card {
  background-color: bisque;
  border-width: 4px;
  border-style: solid;
}

.schoolimagewrapper {
  height: 160px;
  width: 160px;
}

#card:hover {
  background-color: aqua;
} 


#card:focus {
  background-color: lightcyan;
  border-color: yellow;
}


