.yourschoolcard{
  font-size: small;
}

.yourschoolimage {
  max-width:90%;
  max-height:100%;
}

  .name {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .wealth {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }